<form action='/login' method='POST'>
  <br>
  <label>username: </label>
  <input type='text' name='username'>
  <br><br>
  <label>password: </label>
  <input type='password' name='password'>
  <button type='submit'>Submit</button>
</form>
<br>
or <a href='/signup'>sign up</a>
