body {
  font-size: 26pt;
  margin: 20px;
  background-color: yellow;
  font-family: 'Gochi Hand', cursive;
}
.btn {
  text-align: center;
  color: black;
  font-family: sans-serif;
  width: 2.5em;
  border: 2px solid black;
  border-radius: 4px;
  margin-left: 3em;
  padding: 5px;
}
ul {
  list-style: none;
}
ul li {
  width: 500px;
  border: 2px solid #b4ba16;
  border-bottom: none;
}
input {
  text-align: center;
  font-size: 26pt;
  font-family: 'Gochi Hand', cursive;
  background: yellow;
  height: 39px;
  width: 498px;
  border: 2px solid #b4ba16
}
#add {
  text-align: center;
  width: 500px;
  border: 2px solid #b4ba16
}
