.modal-dialog {
  position: fixed;
  z-index: 1;
  left: calc(50% - 167px);
  top: calc(50% - 76px);
  border: 3px solid black;
}
.modal-header {
  background: gray;
  height: 20px;
  padding: 10px;
}
.modal-title {
  color: white;
  font-size: 20px;
}
.modal-content {
  background: white;
  padding: 10px;
}
.modal-buttons {
  float: right;
  margin: 5px;
}
