blinker==1.4
certifi==2017.4.17
chardet==3.0.4
click==6.7
facebook-sdk==2.0.0
Flask==0.12.2
Flask-Login==0.3.2
Flask-WTF==0.14.2
gunicorn==19.4.5
httplib2==0.10.3
idna==2.5
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==1.5.2
oauthlib==1.0.3
pyasn1==0.2.3
pyasn1-modules==0.0.9
PyDispatcher==2.0.5
PyJWT==1.5.2
python-dateutil==2.6.1
requests==2.18.2
rsa==4.7
six==1.10.0
stormpath==2.4.4
urllib3==1.22
Werkzeug==0.12.2
WTForms==2.1
